In [12]:
import pymongo
import pandas as pd

In [3]:
#직방 크롤링
import zigbang as zb

In [5]:
# 데이터베이스 서버 연결
client=pymongo.MongoClient("mongodb://3.34.255.10:27017/")
client

MongoClient('3.34.255.10', 27017)

In [6]:
# 데이터베이스와 컬렉션 생성
zigbang=client.crawling.zigbang
zigbang

Collection(Database(MongoClient('3.34.255.10', 27017), 'crawling'), 'zigbang')

In [15]:
items=zb.oneroom("성수동")
len(items)

11

In [16]:
items[0]

{'section_type': None,
 'item_id': 25293754,
 'images_thumbnail': 'https://ic.zigbang.com/ic/items/25293754/1.jpg',
 'sales_type': '월세',
 'sales_title': '월세',
 'deposit': 1000,
 'rent': 60,
 'size_m2': 99.17,
 '공급면적': {'m2': 99.17, 'p': '30'},
 '전용면적': {'m2': 49.59, 'p': '15'},
 '계약면적': None,
 'room_type_title': None,
 'floor': '1',
 'floor_string': '1',
 'building_floor': '3',
 'title': '뚝섬역 도보 5분, 채광좋고 보안좋은 투룸',
 'is_first_movein': None,
 'room_type': '04',
 'address': '성동구 성수동1가',
 'random_location': {'lat': 37.54198904225015, 'lng': 127.04363934244734},
 'is_zzim': False,
 'status': True,
 'service_type': '빌라',
 'tags': [],
 'address1': '서울시 성동구 성수동1가',
 'address2': None,
 'address3': None,
 'manage_cost': '0',
 'reg_date': '2021-01-27T18:27:41+09:00',
 'is_new': False}

In [17]:
ids = zigbang.insert(items)
len(ids)

11

In [20]:
# 데이터프레임저장
sungsoo_df=pd.DataFrame(items)
columns=["floor","address1","rent","size_m2","deposit"]
sungsoo_df=sungsoo_df[columns]
sungsoo_df.tail(2)

   floor       address1  rent  size_m2  deposit
9      4  서울시 성동구 성수동1가     0  19.8347     6000
10     3  서울시 성동구 성수동1가    45  16.5300     1000

In [21]:
zigbang2 = client.crawling.zigbang2

In [22]:
items = sungsoo_df.to_dict("records")

In [24]:
items[0]

{'floor': '1',
 'address1': '서울시 성동구 성수동1가',
 'rent': 60,
 'size_m2': 99.17,
 'deposit': 1000}

In [25]:
ids = zigbang2.insert(items)

In [26]:
# 데이터 find()

In [28]:
results= zigbang2.find()

list(results)

[{'_id': ObjectId('6034b12588b83b4f529fd648'),
  'floor': '1',
  'address1': '서울시 성동구 성수동1가',
  'rent': 60,
  'size_m2': 99.17,
  'deposit': 1000},
 {'_id': ObjectId('6034b12588b83b4f529fd649'),
  'floor': '2',
  'address1': '서울시 성동구 성수동1가',
  'rent': 30,
  'size_m2': 23.14,
  'deposit': 6000},
 {'_id': ObjectId('6034b12588b83b4f529fd64a'),
  'floor': '2',
  'address1': '서울시 성동구 성수동1가',
  'rent': 20,
  'size_m2': 56.2,
  'deposit': 25000},
 {'_id': ObjectId('6034b12588b83b4f529fd64b'),
  'floor': '2',
  'address1': '서울시 성동구 성수동1가',
  'rent': 65,
  'size_m2': 19.83,
  'deposit': 1000},
 {'_id': ObjectId('6034b12588b83b4f529fd64c'),
  'floor': '2',
  'address1': '서울시 성동구 성수동1가',
  'rent': 0,
  'size_m2': 42.0,
  'deposit': 25000},
 {'_id': ObjectId('6034b12588b83b4f529fd64d'),
  'floor': '2',
  'address1': '서울시 성동구 성수동1가',
  'rent': 0,
  'size_m2': 43.88,
  'deposit': 25000},
 {'_id': ObjectId('6034b12588b83b4f529fd64e'),
  'floor': '2',
  'address1': '서울시 성동구 성수동1가',
  'rent': 50,
  'size_m2': 19.83,
  'deposit': 1000},
 {'_id': ObjectId('6034b12588b83b4f529fd64f'),
  'floor': '2',
  'address1': '서울시 성동구 성수동1가',
  'rent': 50,
  'size_m2': 17.0,
  'deposit': 1000},
 {'_id': ObjectId('6034b12588b83b4f529fd650'),
  'floor': '2',
  'address1': '서울시 성동구 성수동1가',
  'rent': 50,
  'size_m2': 16.53,
  'deposit': 1000},
 {'_id': ObjectId('6034b12588b83b4f529fd651'),
  'floor': '4',
  'address1': '서울시 성동구 성수동1가',
  'rent': 0,
  'size_m2': 19.8347,
  'deposit': 6000},
 {'_id': ObjectId('6034b12588b83b4f529fd652'),
  'floor': '3',
  'address1': '서울시 성동구 성수동1가',
  'rent': 45,
  'size_m2': 16.53,
  'deposit': 1000}]

In [29]:
#rent비 50미만 출력
QUERY = {"rent":{"$lte":50}}
results = zigbang2.find(QUERY)
pd.DataFrame(results)

                        _id       address1  deposit floor  rent  size_m2
0  6034b12588b83b4f529fd649  서울시 성동구 성수동1가     6000     2    30  23.1400
1  6034b12588b83b4f529fd64a  서울시 성동구 성수동1가    25000     2    20  56.2000
2  6034b12588b83b4f529fd64c  서울시 성동구 성수동1가    25000     2     0  42.0000
3  6034b12588b83b4f529fd64d  서울시 성동구 성수동1가    25000     2     0  43.8800
4  6034b12588b83b4f529fd64e  서울시 성동구 성수동1가     1000     2    50  19.8300
5  6034b12588b83b4f529fd64f  서울시 성동구 성수동1가     1000     2    50  17.0000
6  6034b12588b83b4f529fd650  서울시 성동구 성수동1가     1000     2    50  16.5300
7  6034b12588b83b4f529fd651  서울시 성동구 성수동1가     6000     4     0  19.8347
8  6034b12588b83b4f529fd652  서울시 성동구 성수동1가     1000     3    45  16.5300

In [30]:
#컬렉션 삭제
client.crawling.drop_collection("zigbang")

In [31]:
# 데이터베이스 삭제
client.drop_database("crawling")