## SQLAlchemy
- python에서 사용하는 ORM
- ORM : Object Relational Mapping
    - 데베를 객체화 시켜화 시켜서 DB에 있는 데이터를 CRUD(create,read,upload,delete) 할 수 있다.
    - 쿼리 대신 함수 형태로 CRUD를 할 수 있다
    - 사용하는 DB를 변경하는 경우 엔진만 바꿔주면 된다.

In [2]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [3]:
# 데베 연결
engine = create_engine("mysql://root:dss@3.34.255.10/test")

In [4]:
# 테이블 객체 생성을 위한 클래스 작성
Base = declarative_base()

class User(Base):
    __tablename__ = "user"
    
    # 컬럼 데이터 작성
    user_id= Column(Integer,primary_key=True)
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    #생성자 함수
    def __init__(self,name,email,age,rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
    
    # repr 함수
    def __repr__(self):
        return "<User {},{},{},{}>".format(
        self.name, self.email, self.age, self.rdate)

In [5]:
# engine에 연결된 DB(test) 테이블 생성
Base.metadata.create_all(engine)

In [6]:
# 데베에 session 연결
Session = sessionmaker(engine)
session = Session()
session

In [7]:
# insert
user = User("jin","jin@gmail.com",27, "2016-03-21")
user

In [8]:
session.add(user)

#run transaction- 이때 DB에 데이터 저장
session.commit()

In [11]:
# many insert
users = [
    User("alice","alice@gmail.com",25,"2018-02-21"),
    User("andy","andy@daum.net",33,"2015-10-21")
    
    
]

In [12]:
session.add_all(users)

In [13]:
session.commit()

In [14]:
# rollback : session에 있는 객체를 초기화
session.rollback()

#### Select

In [15]:
# all
results=session.query(User).all()
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.net,33,2015-10-21 00:00:00>]

In [16]:
#filter
results=session.query(User).filter(User.name == "jin")
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [17]:
# filter : like
results=session.query(User).filter(User.email.like("%gmail%"))
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>]

In [20]:
# filter : in_
results=session.query(User).filter(User.name.in_(["alice","andy"]))
list(results)

[<User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.net,33,2015-10-21 00:00:00>]

In [21]:
# filter : or_
results=session.query(User).filter(

    or_(User.name == "jin", User.age ==33)
)
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User andy,andy@daum.net,33,2015-10-21 00:00:00>]

In [22]:
#order by
results=session.query(User).order_by(User.age.asc())
list(results)

[<User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User andy,andy@daum.net,33,2015-10-21 00:00:00>]

In [25]:
# count
session.query(User).count()

4

#### Update

In [32]:
data = session.query(User).filter(User.name=="andy").one()
data

In [33]:
data.age = 30

In [34]:
session.add(data)

In [36]:
session.commit()

#### Delete

In [37]:
#delete row
session.query(User).filter(User.name=="jin").delete()

2

In [38]:
session.commit()

In [39]:
# delete table

In [41]:
User.__table__.drop(engine)

#### 5. With Pandas

In [42]:
import seaborn as sns

In [43]:
import pandas as pd

In [44]:
# 데이터 저장하기
iris_df=sns.load_dataset("iris")
iris_df.tail(2)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [45]:
engine

Engine(mysql://root:***@3.34.255.10/test)

In [46]:
iris_df.to_sql(name="iris",con=engine,if_exists="replace")

In [47]:
# 데이터 가져오기

In [48]:
engine = create_engine("mysql://root:dss@3.34.255.10/world")

In [49]:
QUERY="""
    SELECT *
    FROM city
"""
city_df=pd.read_sql(QUERY,engine)
city_df.tail()

        ID        Name CountryCode    District  Population
4074  4075  Khan Yunis         PSE  Khan Yunis      123175
4075  4076      Hebron         PSE      Hebron      119401
4076  4077    Jabaliya         PSE  North Gaza      113901
4077  4078      Nablus         PSE      Nablus      100231
4078  4079       Rafah         PSE       Rafah       92020